<header class="main__header">
        <div class="contact__head">
            <div class="align__head">
                <div class="contact__info">
                    <div class="contact__number">
                        <ion-icon name="chatbox-ellipses"></ion-icon>
                        <div class="num__container">
                            <span>Contact sales</span>
                            <span>(+091) 8860 6063 23</span>
                        </div>
                    </div>
                    <div class="contact__mail">
                        <ion-icon name="person-circle"></ion-icon>
                        <div class="mail__container">
                            <span>Have a question?</span>
                            <span>contact@divyarachna.info</span>
                        </div>
                    </div>
                </div>
                <div class="link__menu">
                    <ul>
                        <li><ion-icon name="briefcase-outline"></ion-icon><span>Careers</span></li>
                        <li><ion-icon name="help-circle-outline"></ion-icon><span>FAQ</span></li>
                        <li><ion-icon name="pricetags-outline"></ion-icon><span>Pricing</span></li>
                        <li><ion-icon name="american-football-outline"></ion-icon><span>Case Studies</span></li>
                        <li><ion-icon name="newspaper-outline"></ion-icon><span>IT Blog</span></li>
                        <li><ion-icon name="mail-outline"></ion-icon><span>Contact Us</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu__head">
            <div class="align__head">
                <div class="page__menu">
                    <div class="menu__container">
                        <div class="menu__item"><span>home</span></div>
                        <div class="menu__item"><span>company</span></div>
                        <div class="menu__item"><span>case studies</span></div>
                        <div class="menu__item"><span>it services</span><ion-icon class="down-arrow" name="chevron-down-outline"></ion-icon>
                            <div class="dropdown">
                                <div class="dpdn_el"><img src="/assets/images/svgs/IT.svg"><span>Manged IT</span></div>
                                <div class="dpdn_el"><img src="/assets/images/svgs/support.svg"><span>IT Support</span></div>
                                <div class="dpdn_el"><img src="/assets/images/svgs/security.svg"><span>Cyber Security</span></div>
                                <div class="dpdn_el"><img src="/assets/images/svgs/cloud.svg"><span>Cloud Services</span></div>
                                <div class="dpdn_el"><ion-icon name="add-circle-outline"></ion-icon><span>All Services</span></div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="main__logo">
                    <img src="/assets/images/logo/logo_2.png" alt="logo__here">
                </div>
                <div class="social__feed">
                    <div class="hot__news"><span>Now Hiring</span>: <span>IT Support Engineer</span></div>
                    <div class="social__icons">
                        <div class="facebook__icon"><a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a></div>
                        <div class="twitter__icon"><a href="https://www.twitter.com"><ion-icon name="logo-twitter"></ion-icon></a></div>
                        <div class="linkedin__icon"><a href="https://www.linkedin.com"><ion-icon name="logo-linkedin"></ion-icon></a></div>
                    </div>
                </div>
            </div>
        </div>
</header>